
.sidebar {
    margin-top: 3em;
    padding: 0;
    width: 325px;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important; 
   }
  
  .sidebar a {
    margin-top: 1em;
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
  }
   
  
  
  .sidebar a:hover:not(.active) {
    background-color: #fff;
    color: #000;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }